@charset "ISO-8859-1";

body{
	overflow: auto;
	
}

.center {
	margin: auto;
	position: relative;
	width:100%;
	height:100%;
}

.center2 {
	position:relative;
	width:100%;
	height:100%;
}
/*Estilo para esconder columnas de la tabla*/
.hideFullColumn tr>.hidecol {
	display: none;
}
